{% extends 'TopxiaWebBundle::layout.html.twig' %}

{% block keywords %}{{ setting('site.seo_keywords') }}{% endblock %}
{% block description %}{{ setting('site.seo_description') }}{% endblock %}

{% set appDownload = ( not custom | default(0) ) and ( is_ES_copyright() ) and ( setting("mobile").enabled|default(null) ) %}
{% if appDownload %}
    {% set bodyClass = 'homepage  has-app' %}
{% else %}
    {% set bodyClass = 'homepage' %}
{% endif %}
{% block content %}
    <link href="{{ asset('assets/layui/css/layui.css') }}" rel="stylesheet" />

    <style>
    
    .topbar,footer,header {display:none}
    #MEIQIA-PANEL-HOLDER, #MEIQIA-BTN-HOLDER
 {display:none!important;height:0px!important}
    .layui-form-item {max-width:300px;margin:auto;margin-bottom:15px}
    body {background:#fff;padding:bottom:300px;font-size:15px;}
        .layui-elem-field legend{
            border-bottom: none;
            margin-bottom: 0px;
            width: auto;
        }
        
        .form-description{
            font-size: 14px;
            line-height: 30px;
        }
        .layui-form-label{
        }

    </style>
        <h2 style="padding:20px;margin-top:10%;text-align:center;font-size:18px;">免费领取日语学习/日本留学资料</h2>
        

        <section class="fetchInfo" style="background: #ffd950!important;padding:30px 0;">

            <form class="layui-form" action="" method="post">

            {{ web_macro.flash_messages() }}

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <input type="text" name="name" required lay-verify="required" lay-verify="title" autocomplete="off" placeholder="姓名" class="layui-input">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <input type="tel" name="phone" lay-verify="phone" autocomplete="off" placeholder="手机(纸质材料将通过快递邮寄)" class="layui-input">
                    </div>
                </div>

                <div class="row" style="margin:10px 0;">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <input type="text" name="qq" required lay-verify="required" lay-verify="title" autocomplete="off" placeholder="微信/QQ号" class="layui-input">
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <select name="xl" lay-filter="aihao">
                            <option value="">目前学历</option>
                            <option value="4">本科大四</option>
                            <option value="3">本科大三</option>
                            <option value="2">本科大二</option>
                            <option value="1">本科大一</option>
                            <option value="10">大专大三</option>
                            <option value="9">大专大二</option>
                            <option value="8">大专大一</option>
                            <option value="7">高三</option>
                            <option value="6">高二</option>
                            <option value="5">高一</option>
                            <option value="1">其他</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <select name="yusu" lay-filter="aihao">
                            <option value="">学习日语的原因</option>
                            <option value="1" title="留学需要">留学需要</option>
                            <option value="2" title="工作应用">工作应用</option>
                            <option value="3" title="赴日旅游">赴日旅游</option>
                            <option value="4" title="10万以上只要能上名校都愿意花">日常兴趣</option>
                            <option value="5" title="其他">自己也不知道</option>
                        </select>
                    </div>    
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center;margin:auto">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">获取学习资料</button>
                    </div>
                </div>

            </form> 

            <script src="{{ asset('assets/layui/layui.js') }}"></script>
            <script>
                layui.use(['form'], function(){
                    var form = layui.form()
                        ,layer = layui.layer
                });
            </script>
            
        </section>
    
{% endblock %}
