{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% block full_content %}

  <link rel="stylesheet" href="/files/program/css/global.css">
  <script src="/files/program/js/bj-wrap.js"></script>
  <script src="/files/program/js/global.js"></script>
  <link rel="stylesheet" href="/files/program/css/detail.css" />

<body class="w1200">

  <div class="container school-page">
    <div class="school-info">
      <div id="school-id" data="110" data-member="0" data-schoolNum="0" data-urlkey="Leeds"></div>
      <div class="school-logo">
        <img src="{{ school.logo_sqr }}" alt="{{ school.name_cn }}">
      </div>

      <div class="school-detail">
        <div class="line1">
          <h1 class="cname" title="{{ school.name_cn }}">{{ school.name_jp }}( {{ school.name_cn }} )</h1>
          <a class="home-web" href="http://{{ school.website }}" target="_blank">官网</a>
          <br/>
          <span class="ename">{{ school.name_en }}</span>
        </div>
        <div class="line2">

          <div class="location">
            <label>所在地址：</label>{{ school.address }}
          </div>
        </div>
        <div class="line3">
          <i class="first"></i>
          <div class="recommand" title="">
              <i></i>
          </div>
          <i class="last"></i>
        </div>
      </div>
    </div>
    <div class="school-content">

      <div class="leftpart">
        <div class="school-introduction" id="school-introduction">
          <div class="title">学校介绍</div>
          <div class="intro-lists">

          </div>
        </div>

        <div class="school-more">
          <div class="sm-title"><span>|</span>概况</div>
          <div class="sm-content">
            <div>
              <p> {{ school.description }} </p>
            </div>
          </div>
        </div>
        <div class="school-info-tab">
          <div class="tab-title">
            <h3 class="major active">学校专业</h3>
            <span>|</span>
            <h3 class="news">学校攻略</h3>
          </div>
          <div class="tab-content">
            <div class="major-content">
              <div class="searchWrap">
                <div class="inputWrap clearfix">
                  <input class="searchText" placeholder="输入你想查看的专业中/英文" type="text" id="cname" autocomplete="off">
                  <input class="submit" type="button">
                  <div class="searchList">
                  </div>
                </div>
                <input type="button" value="搜索" class="btn-search">
                <div class="hot-key">
                  热搜：
                  <a href="javascript:;" >社会</a>
                  <a href="javascript:;" >経済</a>
                  <a href="javascript:;" >教育</a>
                </div>
              </div>
              <div class="major-lists">
                <div class="title">
                  <div class="major-num">
                    为你找到
                    <span>{{ count }}</span> 个相关专业
                  </div>
                  <div class="tag">
                    <i></i>
                    <div>专业库每日更新</div>
                  </div>
                </div>
                <ul class="list-specialty">
                  <!-- 新 -->
                  {% for k,item in program %}
                  <li class="new-list">

                    <div class="l-part">
                      <div class="major-name">
                        <a class="name" href="/program/{{ item.id }}" target="_blank">{{ item.name }}（{{ item.suoshu }}）</a>
                        <!-- <a class="web-home" href="">官网</a> -->
                      </div>
                      <div class="major-tag">
                        <a>{{ item.suoshu }}</a>
                      </div>
                      <div class="major-detail ">
                      </div>
                    </div>
                    <div class="r-part">
                      <a href="javascript:;" onclick="_MEIQIA('showPanel')">免费申请</a>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
                <a class="check-more" href="javascript:;">查看更多学校专业>></a>
              </div>
            </div>
            <div class="news-content">

              <div class="center-list">
                {% for item in article %}
                  <div class="center-list-block">
                  <div class="center-list-block-left">

                    <h1><a target="_blank" href="/article/{{ item.id }}">{{ item.title }}</a></h1>
                    <p class="block-text">
                      <!-- <a target="_blank" href="">所有留学生都该知道的！</a> -->
                    </p>
                    <p class="block-tag">
                      <!-- <a class="block-tag-normal">留学攻略</a> -->
                    </p>
                    <p class="block-info">
                      <i>{{ item.createdTime|date("Y-m-d") }}</i>
                      <span><em></em><i>{{ item.hits }}</i></span>
                    </p>
                  </div>
                  <a target="_blank" href="/article/{{ item.id }}"><img style="width:120px;height:75px;" src="{{ item.picture }}" class="center-list-block-right"></a>
                </div>
                {% endfor %}
              </div>
              <a class="check-more" href="javascript:;">查看更多学校攻略>></a>
            </div>
          </div>
        </div>
      </div>
      <div class="rightpart">

        <div class="aside-art-item">
          <div class="tab-title">
            <h3 class="active" >热门学校</h3>
          </div>
          <div class="tab-content">
            <ul class="school-list" style="display: block;">
                {% for item in schools %}
                <li><img src="{{ item.logo_sqr }}" ><a class="cname" href="/school/{{ item.id }}" target="_blank">{{ item.name_cn }}</a></li>
                {% endfor %}
            </ul>
          </div>
        </div>

        <div class="aside-art-item">
          <div class="aside-art-title">
            <h3>热门攻略</h3>
          </div>
          <div class="aside-art-content">
            <ul class="link-list">
                {% for item in article %}
                    <li><a target="_blank" href="/article/{{ item.id }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/files/program/js/jquery-2.1.1.min.js" charset="utf-8"></script>
  <script type="text/javascript">

    //学校介绍
    $('.show-all').on('click',function(){
      $('.school-hidden-part').slideToggle("slow");
    });
    //学校专业和学校攻略
    $('.tab-title').on('click','h3',function(){
      if(!$(this).hasClass('active')){
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
      }
      if($('.major').hasClass('active')){
        $('.major-content').css('display','block').siblings().css('display','none');
      }else{
        $('.news-content').css('display','block').siblings().css('display','none');
      }
    });

    var liLength = $('.list-specialty li').length,
        centerLength  = $(".center-list").find('.center-list-block').length;
    if( liLength > 4){
      $('.list-specialty li:gt(3)').css('display','none');
    }
    if(centerLength > 3){
      $(".center-list").find('.center-list-block:gt(2)').css('display','none');
    }
    $('.check-more').on('click',function(){
      if($('.major').hasClass('active')){
        $('.list-specialty li:gt(3)').slideToggle("slow");
      }else{
        $(".center-list").find('.center-list-block:gt(2)').slideToggle("slow");
      }
    });

    $('.hot-key').on('click','a',function(){
      var  text = $(this).text();
      $('.searchText').val(text);
    });

    $(".btn-search").click(function(){
        var value = $('.searchText').val();
        if( value == '' )
        {
            return ;
        }
        location.href = "/program_list/{{ id }}?program="+value;
    });
  </script>
</body>
{% endblock %}
