{% extends 'TopxiaWebBundle::layout.html.twig' %}
{% block header %}
  {% include 'TopxiaWebBundle:Default:header.html.twig' %}
{% endblock %}

{% block full_content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--twt-start/20151124(tab切换更新title、keywords)   -->
	<title >小莺出国日本留学-专注日本留学|日本读研|日本留学考研top10名校申请</title>
    <meta name="keywords" content="日本留学,日本读研,日本读研费用,日本留学申请" />    <!--twt-end/20151124(tab切换更新title、keywords) -->
    <link rel="shortcut icon" href="http://
    www.eggelite.com/files/system/2017/04-30/133455fa84f9610398.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- 
    <link type="text/css" href="http://static.jiemo.net/proc/School/Public/Css/redefine_41cec024.css" rel="stylesheet">    <link type="text/css" href="http://static.jiemo.net/Modular/css/module.min_d1e45b6a.css" rel="stylesheet">    <link type="text/css" href="http://static.jiemo.net/Common/css/layout.min_ad495e3d.css" rel="stylesheet">    <link type="text/css" href="http://static.jiemo.net/Common/css/globalMain_5884f038.css" rel="stylesheet"></head>
 -->

<body>
    <div id='login_js'></div>
    <div id="wrap">
        
<!--<script type="text/javascript" src="http://static.jiemo.net/CDN/jquery/2.1.4/jquery.min_43dc5546.js"></script>-->

	<script>
	</script>


<link type="text/css" href="/files/rank/css/common-pc.css" rel="stylesheet">

<!-- 
<link type="text/css" href="http://static.jiemo.net/CDN/bootstrap/custom/css/bootstrap.min_8af1a4d3.css" rel="stylesheet">
 -->
<!--<link type="text/css" href="http://static.jiemo.net/Common/css/layout.min_ad495e3d.css" rel="stylesheet">-->
<!-- 
<link type="text/css" href="http://static.jiemo.net/Common/css/swiper.min_a048c2de.css" rel="stylesheet">
 -->


<link type="text/css" href="/files/rank/css/library-ranking.css" rel="stylesheet"><link type="text/css" href="/files/rank/css/university-rankings.css" rel="stylesheet">

<!--主题部分-->
<div class="un-container">
	<div class="uesr-location">
		
	</div>
	<div class="container-tit">
		<h1>{{ rank.name }}</h1>
	</div>
	<!--年份筛选-->
	<div class="vintage-screening">
		<ul>
			<li class="jm-fl">
				<span>年份:</span>
			</li>
			<li class="jm-fl">
					<span class="choose-year " title="2017"><a title="2017" href="javascript:void();">2017</a></span>
				</li><li class="jm-fl">
					<span class="choose-year " title="2016"><a title="2016" href="javascript:void();">2016</a></span>
				</li><li class="jm-fl">
					<span class="choose-year " title="2015"><a title="2015" href="javascript:void();">2015</a></span>
				</li><li class="jm-fl">
					<span class="choose-year " title="2014"><a title="2014" href="javascript:void();">2014</a></span>
				</li><li class="jm-fl">
					<span class="choose-year active1" title="2013"><a title="2013" href="javascript:void();">2013</a></span>
				</li>		</ul>
	</div>
	<!--学校列表-->
	<div class="school-list">
		<ul>
		{% for school in schools %}
			<li>
				<span class="jm-fl no1">{{ school.rank }}</span>
				<div class="jm-fl school-mes">
					<a href="{{ school.url }}" target="_blank">		
					<div class="school-pic jm-fl">
						<img src="{{ school.pic }}" >
					</div>
					<div class="jm-fl school-introduce">
						<span>{{ school.name_cn }}</span><i></i>
						<p>{{ school.name_jp }}</p>
						<p>位于:{{ school.address }}</p>
						<div class="echarts">
							<i></i>
						<div id="main-1" style="width: 500px;height:229px;"></div>
					</div>
				</div>
					</a>					
				</div>
				<div class="btn-wapper">
					<a href="javascrpit:;">测试录取几率</a>
					<a href="javascrpit:;">免费获取留学方案</a>	
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
<!--分页-->
<div class='pager-container'><ul class='pager'><li><span>1</span></li><li><a data-value="2" href="javascript:changePage(2)">2</a></li><li><a data-value="3" href="javascript:changePage(3)">3</a></li><li><a data-value="4" href="javascript:changePage(4)">4</a></li><li><a data-value="5" href="javascript:changePage(5)">5</a></li><li>...</li><li><a data-value="20" href="javascript:changePage(20)">20</a></li><li><a data-value="2" href="javascript:changePage(2)">下一页</a></li></ul></div><!--分割线 尾部-->
<script type="text/javascript" src="http://static.jiemo.net/proc/School/Public/Js/jquery.min_b66ed708.js"></script><script type="text/javascript" src="http://static.jiemo.net/proc/School/Public/Js/bootstrap.min_0d64e131.js"></script><script type="text/javascript" src="http://static.jiemo.net/proc/School/Public/Js/common_2e1819cb.js"></script><script type="text/javascript" src="http://static.jiemo.net/proc/School/Public/Js/ajax_denglu_076db5e7.js"></script><script type="text/javascript" src="http://static.jiemo.net/proc/School/Public/Js/detail_d8d65f34.js"></script><script type="text/javascript" src="http://static.jiemo.net/Common/js/globalMain_683122e8.js"></script><!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
<script type="text/javascript" src="http://static.jiemo.net/CDN/html5shiv/3.7.3/html5shiv.min_e790c264.js"></script><script type="text/javascript" src="http://static.jiemo.net/CDN/respond.js/1.4.2/respond.min_b5aba40d.js"></script><![endif]-->

<!--twt-start/20151103(开启留学之旅)	-->
<script type="text/javascript" src="http://static.jiemo.net/proc/School/Public/Js/footer_bar_0b49cf15.js"></script><script type="text/javascript" src="http://static.jiemo.net/proc/School/Public/Js/jquery.cookie_31e1bcc4.js"></script><script type="text/javascript" src="http://static.jiemo.net/proc/School/Public/Js/college-info_61df4fc4.js"></script><script type="text/javascript" src="http://static.jiemo.net/Common/js/jquery.form_eca8a197.js"></script><script type="text/javascript" src="http://static.jiemo.net/Common/js/jquery-simulation_7ac25433.js"></script><script type="text/javascript" src="http://static.jiemo.net/Common/js/jquery-Validation_34fdd1b8.js"></script><script type="text/javascript" src="http://static.jiemo.net/Common/js/jquery-Alert_c16520e2.js"></script><script type="text/javascript" src="http://static.jiemo.net/Common/js/loginNew_a56e97ea.js"></script><script type="text/javascript" src="http://static.jiemo.net/proc/School/Public/Js/bounced_ed41076c.js"></script><!--twt-end/20151103(开启留学之旅)	-->





<div id="college-compare"></div>

<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe52d53b2198d03a980d742e9750e3ccb' type='text/javascript'%3E%3C/script%3E")) </script>
<script>
	function autoScroll(obj){  
        $(obj).find("ul").animate({ marginTop : "-56px"},500,function(){  
            $(this).css({marginTop : "0px"}).find("li:first").appendTo(this);  
        })  
    }  
    $(function(){  
        setInterval('autoScroll(".apple")',2000);
    }) 
</script>

<script type="text/javascript" src="http://static.jiemo.net/proc/School/rankings/js/swiper.min_0e6a1846.js"></script><script type="text/javascript" src="http://static.jiemo.net/proc/School/rankings/js/all_5ff37158.js"></script><script type="text/javascript" src="http://static.jiemo.net/CDN/echarts/3.4.0/echarts.min_54c88fc6.js"></script><script type="text/javascript" src="http://static.jiemo.net/proc/School/rankings/js/echarts-all_87010402.js"></script></body>

</html>

{% endblock %}
